.mainContainer {
  max-width: 480px;
  height: 100vh;
  margin: 0 auto;
  position: relative;
  background-color: rgb(14, 60, 129);
  --swiper-theme-color: white;
  
  .backButton {
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999999;
    margin-left: 10px;
    font-size: 25px;
    margin-top: 10px;
    height: 35px;
    width: 35px;
  }

  .entryGet {
    height: 33vh;
  }

  .quickview {
    margin-bottom: 0px;
    box-shadow: 0px 5px 7px -3px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 5px 7px -3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 5px 7px -3px rgba(0, 0, 0, 0.3);

    .farmName {
      color: #fff;
      margin-left: 20px;
    }

    .farmPricing {
      table {
        margin-left: 20px;
        margin-right: auto;

        tr:nth-child(1) {
          color: #ff8900;
          font-weight: 600;

          > td:nth-child(2) {
            padding-left: 40px;
          }
        }

        tr:nth-child(2) {
          font-weight: 550;
          color: #fff;

          > td:nth-child(2) {
            padding-left: 40px;
          }
        }

        tr:nth-child(3) {
          font-weight: 550;
          color: #fff;

          > td:nth-child(2) {
            padding-left: 40px;
          }
        }
      }
    }

    .farmNote {
      color: #ff8900;
      text-align: justify;
      margin-left: 20px;
      margin-right: 20px;
      padding-bottom: 10px;
      padding-top: 20px;
    }
  }

  .farmAbout {
    margin-top: 5px;
    padding-top: 10px;
    background-color: inherit;
    box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.4);

    > span {
      color: #fff;
      font-size: 20px;
      font-weight: 700;
      display: flex;
      justify-content: center;
    }
    > p {
      margin-left: 20px;
      color: #ff8900;
    }

    table {
      margin-left: 20px;
      margin-right: auto;

      tr {
        td {
          padding: 5px 0;
        }
      }

      tr:nth-child(1) {
        color: #fff;
        font-weight: 600;

        > td:nth-child(2) {
          padding-left: 60px;
        }
      }

      tr:nth-child(2) {
        color: #ff8900;
        font-weight: 600;

        > td:nth-child(2) {
          padding-left: 60px;
        }
      }

      tr:nth-child(3) {
        font-weight: 400;
        color: #fff;

        > td:nth-child(2) {
          padding-left: 60px;
        }
      }

      tr:nth-child(4) {
        color: #ff8900;
        font-weight: 600;

        > td:nth-child(2) {
          padding-left: 60px;
        }
      }

      tr:nth-child(5) {
        font-weight: 400;
        color: #fff;

        > td:nth-child(2) {
          padding-left: 60px;
        }
      }

      tr:nth-child(6) {
        color: #ff8900;
        font-weight: 600;

        > td:nth-child(2) {
          padding-left: 60px;
        }
      }

      tr:nth-child(7) {
        font-weight: 400;
        color: #fff;

        > td:nth-child(2) {
          padding-left: 60px;
        }
      }

      tr:nth-child(8) {
        color: #ff8900;
        font-weight: 550;

        > td:nth-child(2) {
          padding-left: 60px;
        }
      }

      tr:nth-child(9) {
        color: #fff;
        > td:nth-child(2) {
          padding-left: 60px;
        }
      }
    }

    .farmFecility {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      position: relative;
      margin-top: 20px;
      padding-bottom: 10px;

      .iconContainer {
        display: flex;
        flex-direction: column;
        margin: 0 10px;
        margin-bottom: 10px;
        align-items: center;
        background-color: white;
        padding: 10px;
        width: 25%;
        border-radius: 10px;

        img {
          height: 50px;
          width: 50px;
          object-fit: contain;
          margin-bottom: 10px;
        }

        span {
          text-align: center;
        }
      }
    }
  }

  .suvidhao {
    background-color: inherit;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.3);

    > span {
      color: white;
      font-weight: bold;
      text-align: center;
      font-size: 20px;
      margin-bottom: 20px;
      margin-top: 10px;
    }

    .minibox {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      position: relative;

      .iconContainer {
        display: flex;
        flex-direction: column;
        margin: 0 10px;
        margin-bottom: 10px;
        align-items: center;
        background-color: white;
        padding: 10px;
        width: 25%;
        border-radius: 10px;

        img {
          height: 50px;
          width: 50px;
          object-fit: contain;
          margin-bottom: 10px;
        }

        span {
          text-align: center;
        }
      }
    }
  }

  .guideline {
    background-color: inherit;
    box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.3);
    margin-top: 5px;
    padding-bottom: 10px;
    .heading {
      font-weight: 700;
      font-size: 20px;
      margin-left: 10px;
      padding-top: 10px;
      color: #ff8900;
    }

    ul {
      list-style: square;
      margin-bottom: 5px;
      > li {
        color: #fff;
      }
    }
  }

  .rules {
    background-color: inherit;
    margin-top: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.3);
    > span {
      font-weight: 700;
      font-size: 20px;
      margin-left: 10px;
      color: #ff8900;
    }
  }

  ul {
    list-style: square;
    margin-bottom: 5px;
    > li {
      color: #fff;
    }
  }

  .cancel {
    background-color: inherit;
    margin-top: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.3);

    > span {
      font-weight: 700;
      font-size: 20px;
      margin-left: 10px;
      color: #ff8900;
    }
    ul {
      list-style: square;
      margin-bottom: 5px;
      > li {
        color: #fff;
      }
    }
  }

  .callButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #32bf84;
    padding: 15px;

    img {
      height: 25px;
      width: 25px;
      margin-right: 10px;
    }
  }

  .locationButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #247AFD;
    padding: 15px;

    img {
      height: 25px;
      width: 25px;
      margin-right: 10px;
    }
  }
}
