.mainContainer {
  max-width: 480px;
  min-height: 100vh;
  margin: 0 auto;
  background-color:rgb(14, 60, 129) ;
  padding-bottom: 35px;

  .container {
    .mainHeading {
      display: flex;
      justify-content: center;
      color: rgb(247, 133, 27);
      position: relative;
      margin-top: 0px;
      padding-top: 20px;
    }
  }

  .row1 {
    .notice1 {
      font-weight: 700;
      margin-left: 10px;
      margin-right: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
      color: #fff;
    }
  }

  .box1 {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.25);
    margin-left: 7px;
    margin-right: 7px;
    position: relative;
    margin-top: 20px;

    .entryGet {
      border: 2px;
      height: 250px;
      object-fit: cover;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      margin-right: auto;
      margin-left: auto;
    }

    .verify {
      position: absolute;
      top: 10px;
      background-color: green;
      padding: 5px 10px;
      border-radius: 0px 10px 10px 0px;
      -webkit-border-radius: 0px 10px 10px 0px;
      -moz-border-radius: 0px 10px 10px 0px;
      color: white;
    }

    .distance {
      position: absolute;
      right: 0;
      top: 0;
      height: 50px;
      width: 110px;
      padding-right: 10px;
      text-align: right;
      color: white;
      background: rgba(255, 0, 0, 0);
      background: linear-gradient(90deg, rgba(255, 0, 0, 0) 0%, #f7851b 80%);
      background: -webkit-linear-gradient(90deg, rgba(255, 0, 0, 0) 0%, #f7851b 80%);
      background: -moz-linear-gradient(90deg, rgba(255, 0, 0, 0) 0%, #f7851b 80%);
      border-radius: 0px 10px 0px 0px;
    }

    .icons {
      font-size: 25px;
      margin-left: 10px;

      .heart {
        color: white;
        position: absolute;
        bottom: 45%;
      }

      .whatsapp {
        color: rgb(4, 187, 4);
        position: absolute;
        bottom: 35%;
      }
    }

    .farmName {
      margin-bottom: 5px;
      // margin-top: 10px;
    }

    .info {
      margin-right: 10px;
      padding-bottom: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .column{
        display: flex;
        flex-direction: column;
        padding-left: 10px;

        span:last-child{
          color: #f7851b;
          font-weight: bold;
        }
        
      }

      .location {
        display: flex;
        align-items: center;

        .locationIcon {
          font-size: 20px;
          color: #f7851b;
        }

        .city {
          font-weight: 600;
        }
      }
    }
    .farmName {
      font-weight: 700;
    }
    .days {
      font-weight: 600;
      color: gray;
    }
  }

}